## üìä An√°lise Explorat√≥ria do Dataset "Disney Plus Movies and TV Shows"

Nesta an√°lise explorat√≥ria, iremos examinar o dataset do Disney Plus Movies and TV Shows, que cont√©m informa√ß√µes sobre os filmes e programas de TV dispon√≠veis na plataforma Disney Plus. O dataset fornece informa√ß√µes sobre os registros que nos permitir√£o extrair insights, s√£o elas:

- `imdb_id`: Identificador √∫nico do filme ou s√©rie no IMDb.
- `title`: T√≠tulo do filme ou s√©rie.
- `plot`: Sinopse ou resumo do enredo.
- `type`: Indica se √© um filme ou uma s√©rie.
- `rated`: Classifica√ß√£o et√°ria atribu√≠da.
- `year`: Ano de lan√ßamento.
- `released_at`: Data de lan√ßamento.
- `added_at`: Data em que foi adicionado ao Disney Plus.
- `runtime`: Dura√ß√£o em minutos.
- `genre`: G√™neros ou categorias aos quais pertence.
- `director`: Diretor respons√°vel pelo filme ou s√©rie.
- `writer`: Escritor ou roteirista do filme ou s√©rie.
- `actors`: Atores principais envolvidos no filme ou s√©rie.
- `language`: Idioma original do filme ou s√©rie.
- `country`: Pa√≠s de origem do filme ou s√©rie.
- `awards`: Pr√™mios ou reconhecimentos recebidos.
- `metascore`: Pontua√ß√£o m√©dia do filme ou s√©rie no Metacritic.
- `imdb_rating`: Avalia√ß√£o do filme ou s√©rie no IMDb.
- `imdb_votes`: Quantidade de votos no IMDb.

### üìö Instala√ß√£o de Bibliotecas e Importa√ß√£o da Base de Dados

Nesta etapa, vamos garantir que todas as bibliotecas necess√°rias estejam instaladas e importar a base de dados do Disney Plus Movies and TV Shows. Para isso, vamos utilizar as bibliotecas pandas e pandasql, que nos permitir√£o manipular e analisar os dados do dataset.

In [8]:
# Instalando e importando as bibliotecas necess√°rias

!pip install pandas
!pip install pandasql
!pip install sqlalchemy==1.4.46

import pandas as pd
import pandasql as ps
import os

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: pandasql in /usr/local/lib/python3.10/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.4.46)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2022.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (2.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Requirement already satisfied: sqlalchemy==1.4.46 in /usr/local/lib/python3.10/dist-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy==1.4.46) (2.0.2)

In [9]:
# Baixando o dataset do GitHub

! git clone https://github.com/renadeveloper/course_betech_database

fatal: destination path 'course_betech_database' already exists and is not an empty directory.

In [10]:
# Carregando o dataset

dados_disney = pd.read_csv('course_betech_database/disney_plus_shows.csv')
ps.sqldf("SELECT * FROM dados_disney LIMIT 10")

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,"283,945"
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,None,2018‚Äì,25 Mar 2019,"February 28, 2020",None,"Animation, Comedy, Family",None,None,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,"UK, USA, Canada",None,NaN,6.2,124
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,"97,785"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,"7,434"
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, G√©rard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,"33,444"
5,tt1846442,12 Dates of Christmas,"A story that follows Kate, a young woman who a...",movie,PG,2011,11 Dec 2011,"November 12, 2019",90 min,"Comedy, Fantasy, Romance",James Hayman,"Aaron Mendelsohn (teleplay), Janet Brownell (t...","Laura Miyata, Vijay Mehta, Amy Smart, Audrey D...",English,USA,1 nomination.,NaN,6.3,"4,933"
6,tt0046672,"20,000 Leagues Under the Sea",A ship sent to investigate a wave of mysteriou...,movie,G,1954,20 Jul 1955,"November 12, 2019",127 min,"Adventure, Drama, Family, Fantasy, Sci-Fi",Richard Fleischer,Earl Felton (screenplay),"Kirk Douglas, James Mason, Paul Lukas, Peter L...",English,USA,Won 2 Oscars. Another 3 wins & 3 nominations.,83.0,7.2,"27,761"
7,tt0120623,A Bug's Life,"A misfit ant, looking for ""warriors"" to save h...",movie,G,1998,25 Nov 1998,"November 12, 2019",95 min,"Animation, Adventure, Comedy, Family","John Lasseter, Andrew Stanton(co-director)","John Lasseter (original story by), Andrew Stan...","Dave Foley, Kevin Spacey, Julia Louis-Dreyfus,...",English,USA,Nominated for 1 Oscar. Another 14 wins & 20 no...,77.0,7.2,"257,065"
8,tt12076020,A Celebration of the Music from Coco,None,movie,None,2020,10 Apr 2020,"April 10, 2020",None,Music,Ron de Moraes,None,"Benjamin Bratt, Eva Longoria",English,USA,None,NaN,7.6,35
9,tt0113198,A Goofy Movie,When Max makes a preposterous promise to a gir...,movie,G,1995,07 Apr 1995,"November 12, 2019",78 min,"Animation, Adventure, Comedy, Family, Musical,...",Kevin Lima,"Jymn Magon (story), Jymn Magon (screenplay), C...","Bill Farmer, Jason Marsden, Jim Cummings, Kell...",English,"USA, Australia, France, Canada",5 nominations.,NaN,6.8,"43,655"

### üìà An√°lise Descritiva

Nesta se√ß√£o, realizaremos uma an√°lise descritiva dos dados do dataset do Disney Plus Movies and TV Shows e explorar as informa√ß√µes contidas nas colunas.

#### Qual a tipagem dos dados?

In [11]:
dados_disney.dtypes

imdb_id         object
title           object
plot            object
type            object
rated           object
year            object
released_at     object
added_at        object
runtime         object
genre           object
director        object
writer          object
actors          object
language        object
country         object
awards          object
metascore      float64
imdb_rating    float64
imdb_votes      object
dtype: object

#### Quantos nulos temos em cada coluna?

In [12]:
dados_disney.isnull().sum()

imdb_id         98
title           98
plot           126
type            98
rated          250
year            98
released_at    118
added_at         0
runtime        154
genre          107
director       303
writer         249
actors         122
language       127
country        123
awards         436
metascore      700
imdb_rating    113
imdb_votes     113
dtype: int64

#### Quantos valores √∫nicos temos nas colunas categ√≥ricas?

In [13]:
# Para saber de outras colunas categ√≥ricas basta substituir type pelo nome da outra coluna

dados_disney['type'].value_counts()

movie      680
series     191
episode     23
Name: type, dtype: int64

### ü§î Querys

#### Quantos filmes tem na base de dados?

In [14]:
ps.sqldf("SELECT count(*) AS qtd_filmes FROM dados_disney WHERE type = 'movie'")

   qtd_filmes
0         680

#### Quantos filmes a base de dados possui, que foram produzidos antes dos anos 2000?

In [15]:
ps.sqldf("SELECT count(*) AS total_filmes_antes_de_2000 FROM dados_disney WHERE type = 'movie' AND year < 2000 ")

   total_filmes_antes_de_2000
0                         283

#### Os 10 programas com maior quantidade de votos no IMDB.

In [16]:
ps.sqldf("SELECT title AS 'Titulo', imdb_votes AS 'Votos no IMDB' , type AS 'Estilo', imdb_rating AS 'Notas IMDB', year AS 'Ano de cria√ß√£o' FROM dados_disney ORDER BY imdb_votes DESC LIMIT 10")

,Titulo,Votos no IMDB,Estilo,Notas IMDB,Ano de cria√ß√£o
0,The Incredible Dr. Pol,999,series,8.6,2011‚Äì
1,Elena of Avalor,998,series,6.4,2016‚Äì
2,Boat Builders,993,movie,7.3,1938
3,Pirates of the Caribbean: The Curse of the Bla...,"992,127",movie,8.0,2003
4,Elmer Elephant,991,movie,7.0,1936
5,Lamp Life,980,movie,6.7,2020
6,Atlantis: The Lost Empire,"98,258",movie,6.9,2001
7,101 Dalmatians,"97,785",movie,5.7,1996
8,The Good Dinosaur,"97,413",movie,6.7,2015
9,Willow,"97,309",movie,7.3,1988

#### Os 10 programas com a melhor pontua√ß√£o IMDB, seus anos de lan√ßamento e g√™nero/categoria.

In [17]:
ps.sqldf("SELECT title AS 'T√≠tulo', imdb_rating AS 'Notas IMDB', type AS 'Estilo', year AS 'Ano de lan√ßamento', genre AS 'G√™nero' FROM dados_disney ORDER BY imdb_rating DESC LIMIT 10")

,T√≠tulo,Notas IMDB,Estilo,Ano de lan√ßamento,G√™nero
0,Bluey,9.7,series,2018‚Äì,Animation
1,The Imagineering Story,9.1,series,2019‚Äì,Documentary
2,Gravity Falls,8.9,series,2012‚Äì2016,"Animation, Action, Adventure, Comedy, Family, ..."
3,"Dr. T, Lone Star Vet",8.9,series,2019‚Äì,Reality-TV
4,Muppet Moments,8.8,series,2015‚Äì,"Short, Family"
5,One Strange Rock,8.8,series,2018‚Äì,Documentary
6,Lost Cities with Albert Lin,8.7,series,2019‚Äì,"Documentary, History"
7,Star Wars: Episode V - The Empire Strikes Back,8.7,movie,1980,"Action, Adventure, Fantasy, Sci-Fi"
8,The Mandalorian,8.7,series,2019‚Äì,"Action, Adventure, Sci-Fi"
9,The Simpsons,8.7,series,1989‚Äì,"Animation, Comedy"

#### 10 principais categorias de programas adicionados ao Disney Plus em 2020.

In [18]:
ps.sqldf("SELECT genre AS 'G√™nero' FROM dados_disney WHERE added_at LIKE '%2020%' LIMIT 10")

                                         G√™nero
0                     Animation, Comedy, Family
1                                         Music
2                             Adventure, Family
3            Adventure, Family, Fantasy, Sci-Fi
4  Adventure, Family, Fantasy, Musical, Romance
5              Family, Comedy, Animation, Short
6                    Comedy, Family, Reality-TV
7                                   Documentary
8    Action, Adventure, Comedy, Family, Western
9                         Comedy, Family, Music

####10 filmes lan√ßados antes de 2000 do g√™nero Anima√ß√£o e com nota no IMDB > 8 adicionados no Disney Plus

In [19]:
ps.sqldf("SELECT title AS 'T√≠tulo', imdb_rating AS 'Nota IMDB', released_at AS 'Data de lan√ßamento', added_at AS 'Data de lan√ßamento no Disney Plus' FROM dados_disney WHERE genre LIKE '%Documentary%' AND imdb_rating > 8 LIMIT 10" )

,T√≠tulo,Nota IMDB,Data de lan√ßamento,Data de lan√ßamento no Disney Plus
0,Before the Flood,8.3,30 Oct 2016,"November 12, 2019"
1,Brain Games,8.3,09 Oct 2011,"November 12, 2019"
2,Empire of Dreams: The Story of the 'Star Wars'...,8.3,20 Sep 2004,"November 12, 2019"
3,Expedition Mars,8.1,16 Nov 2016,"November 12, 2019"
4,Free Solo,8.2,13 Dec 2018,"November 12, 2019"
5,Great Migrations,8.1,07 Nov 2010,"November 12, 2019"
6,Hostile Planet,8.2,01 Apr 2019,"November 12, 2019"
7,In the Footsteps of Elephant,8.1,03 Apr 2020,"April 3, 2020"
8,Kingdom of the White Wolf,8.2,25 Aug 2019,"November 12, 2019"
9,Lost Cities with Albert Lin,8.7,01 Oct 2019,"February 21, 2020"

####10 filmes lan√ßados antes de 2000 do g√™nero Familia e com nota no IMDB > 8 adicionados no Disney Plus

In [20]:
ps.sqldf("SELECT title AS 'T√≠tulo', imdb_rating AS 'Nota IMDB', released_at AS 'Data de lan√ßamento', added_at AS 'Data de lan√ßamento no Disney Plus' FROM dados_disney WHERE genre LIKE '%Family%' AND year <2000 AND imdb_rating > 8 LIMIT 10" )

,T√≠tulo,Nota IMDB,Data de lan√ßamento,Data de lan√ßamento no Disney Plus
0,Boy Meets World,8.1,24 Sep 1993,"November 12, 2019"
1,DuckTales,8.1,18 Sep 1987,"November 12, 2019"
2,Gargoyles,8.1,24 Oct 1994,"November 12, 2019"
3,Spider-Man: The Animated Series,8.3,19 Nov 1994,"November 12, 2019"
4,X-Men: The Animated Series,8.4,31 Oct 1992,"November 12, 2019"
5,Mickey's Christmas Carol,8.1,16 Dec 1983,"November 12, 2019"
6,Prowlers of the Everglades,8.1,23 Jul 1953,"May 1, 2020"
7,So Weird,8.5,18 Jan 1999,"November 12, 2019"
8,The Adventures of Spin and Marty,8.2,04 Nov 1955,"November 12, 2019"
9,The Lion King,8.5,24 Jun 1994,"November 12, 2019"

####10 programas adicionados no Disney Plus com maior nota no IMDB lan√ßados ap√≥s 2000

In [21]:
ps.sqldf("SELECT title AS 'T√≠tulo', genre AS 'G√™nero', imdb_rating AS 'Nota IMDB', released_at AS 'Data de lan√ßamento', added_at AS 'Data de lan√ßamento no Disney Plus' FROM dados_disney WHERE year >2000 ORDER BY imdb_rating DESC LIMIT 10" )

,T√≠tulo,G√™nero,Nota IMDB,Data de lan√ßamento,Data de lan√ßamento no Disney Plus
0,Bluey,Animation,9.7,09 Sep 2019,"January 22, 2020"
1,The Imagineering Story,Documentary,9.1,12 Nov 2019,"November 12, 2019"
2,Gravity Falls,"Animation, Action, Adventure, Comedy, Family, ...",8.9,15 Jun 2012,"November 12, 2019"
3,"Dr. T, Lone Star Vet",Reality-TV,8.9,13 Oct 2019,"January 1, 2020"
4,Muppet Moments,"Short, Family",8.8,03 Apr 2015,"November 12, 2019"
5,One Strange Rock,Documentary,8.8,26 Mar 2018,"January 1, 2020"
6,Lost Cities with Albert Lin,"Documentary, History",8.7,01 Oct 2019,"February 21, 2020"
7,The Mandalorian,"Action, Adventure, Sci-Fi",8.7,12 Nov 2019,"November 12, 2019"
8,The Incredible Dr. Pol,"Documentary, Reality-TV",8.6,None,"November 12, 2019"
9,Disney's Newsies: The Broadway Musical!,Musical,8.5,16 Feb 2017,"November 12, 2019"

#### Quais programas n√£o estadunidenses possui a base?

In [22]:
ps.sqldf("SELECT title AS 'T√≠tulo', type AS 'Tipo de programa', country AS 'Pa√≠s' FROM dados_disney WHERE country NOT LIKE '%USA%'" )

,T√≠tulo,Tipo de programa,Pa√≠s
0,Atlantis Rising,movie,Canada
1,Bluey,series,"Australia, UK"
2,Deep Blue,movie,"UK, Germany"
3,Diana: In Her Own Words,movie,UK
4,Bad Hair Day,movie,Canada
5,Drain the Oceans,series,"UK, Australia"
6,Drain the Sunken Pirate City,movie,UK
7,The New Yoda Chronicles: Clash of the Skywalkers,movie,"Denmark, China"
8,The New Yoda Chronicles: Raid on Coruscant,movie,"Denmark, China"
9,The New Yoda Chronicles: Escape from the Jedi ...,movie,"Denmark, China"
10,Millions,movie,UK
11,PJ Masks,series,"France, UK"
12,Secrets of the King Cobra,movie,India
13,So Weird,series,Canada
14,Soy Luna,series,"Argentina, Mexico"
15,Stonehenge: Decoded,movie,UK
16,The Lodge,series,UK
17,The Lost Tomb of Alexander the Great,movie,UK
18,The Prince and the Pauper,movie,UK
19,The Story of Robin Hood and His Merrie Men,movie,UK
20,Trail of the Panda,movie,China
21,Treasure Island,movie,UK
22,Tutankhamen's Treasures,series,UK
23,Viking Warrior Women,movie,UK
24,Violetta,series,Argentina

#### Quantos programas ganharam algum tipo de premia√ß√£o?

In [23]:
ps.sqldf("SELECT count(*) AS total_filmes_premiados FROM dados_disney WHERE awards LIKE '%win%' ")

   total_filmes_premiados
0                     376

#### Dos programas n√£o estadunidenses da consulta anterior, quais deles possui premia√ß√£o?

In [24]:
ps.sqldf("SELECT title AS 'T√≠tulo', type AS 'Tipo de programa', country AS 'Pa√≠s', awards AS 'Premia√ß√£o' FROM dados_disney WHERE country NOT LIKE '%USA%' AND awards LIKE '%win%'"  )

,T√≠tulo,Tipo de programa,Pa√≠s,Premia√ß√£o
0,Bluey,series,"Australia, UK",4 wins.
1,Diana: In Her Own Words,movie,UK,2 wins.
2,Drain the Oceans,series,"UK, Australia",1 win.
3,Millions,movie,UK,2 wins & 7 nominations.
4,PJ Masks,series,"France, UK",2 wins & 6 nominations.
5,Violetta,series,Argentina,1 win & 2 nominations.

### üí° Conclus√µes

Algumas an√°lises que pudemos fazer relacionada ao dataset de programa√ß√£o do Disney Plus s√£o:
- O tipo de programa que tem mais variedades na plataforma s√£o os filmes, a base conta com 76% de filmes, 21% de s√©ries e 3% de epis√≥dios isolados;
- A maior parte dos filmes adicionados a plataforma foram produzidos ap√≥s os anos 2000, cerca de 58%;
- Nenhum dos 10 programas mais votados est√£o entre os 10 programas com melhor pontua√ß√£o IMDB;
- Os g√™neros com as maiores quantidades de programas na base de dados s√£o com√©dia e fam√≠lia, por√©m o g√™nero presente mais vezes entre os 10 programas com as melhores avalia√ß√µes foi document√°rio;
- A base de dados possui apenas 25 programas que n√£o foram produzidos nos Estados Unidos, ou seja, apenas 2,8% do total de programas e, entre eles, apenas 6 possuem algum tipo de premia√ß√£o, 1,6% da rela√ß√£o de programas premiados da base;